@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply font-sans;
}

.product-grid {
  display: grid;
  gap: 1.5rem;
  place-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.domino-span {
  position: absolute;
  top: 50%;
  width: 35px;
  height: 7px;
  background: #2d336b;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
  animation: dominos 1s ease infinite;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }
  75% {
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}
